body {
    background-image: url('../../Assets/Backgrounds/Mushroom_Kingdom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.characterImage {
    max-height: 250px;
    margin: 3%;
}